{% extends "common/base.html" %}
{% load static %}

{% block  head_content %}
    <title>Signatures</title>
{% endblock %}
{% block content %}
<div class="card border-success mb-3" style="max-width: 18rem; border-radius: 21px; ">
    <div class="card-header border-success" style="border-radius: 21px 21px 0px 0px;; background-color: #5112d9; overflow: visible ;color: #ffffff; font-family: sans-serif;">Nombre asignatura</div>
    <div class="card-body text-success">
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-dark">Generar top 3 mejores estudiantes</button>
            <button type="button" class="btn btn-dark">Generar top 3 peores estudiantes</button>    
        </div>
    </div>
  </div>
{% endblock %}
