{% extends "common/base.html" %}
{% load static %}

{% block  head_content %}
    <title>TopBest</title>
{% endblock %}
{% block content %}
<header>
</header>
<main>
    <div class="container-fluid text-center" style="height: 100vh; margin: 0; padding: 3%; background: #ccc7c7">
        <div class="row" style="height: 100%; border-radius: 20px; background: white">
            <div class="col col-12 col-md-6 mt-1">
            </div>
        </div>
    </div>
</main>
<footer>
</footer>
{% endblock %}
