{% extends "common/base.html" %}
{% load static %}

{% block  head_content %}
    <title>TopWorst</title>
{% endblock %}
{% block content %}
<header class="container">
    <div class="row">
        <div class="col-12 col-lg-8 "> 
            <h1>Top 3 peores estudiantes de la asignatura</h1>
        </div>
        <div class="col-12 col-lg-4 "> 
            <article class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="/static/common/lili.jpg" class="border border-secundary border-3 rounded-circle "/>
                        <div class="ps-3">
                            <h6 class="m-0 h6">Profe Lili</h6>
                            <a href="" class="m-0 h6">Cerrar sesion</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</header>
<main class="container">
    <div class="row" align="center">
        <div class="col-12 col-lg-4 "> 
            <div class="row">
                <div class="col-12 col-lg-12 bg-succes"> 
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla architecto ea deserunt reprehenderit aliquid repudiandae deleniti inventore pariatur minima non perferendis at, libero, sit exercitationem esse ut, quis illum consectetur.
                    </p>
                </div>
                <div class="col-12 col-lg-12"> 
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla architecto ea deserunt reprehenderit aliquid repudiandae deleniti inventore pariatur minima non perferendis at, libero, sit exercitationem esse ut, quis illum consectetur.
                    </p>
                </div>
                <div class="col-12 col-lg-12"> 
                    <img
                        src="/static/common/top1ww.jpg"
                        style="height: 100%"
                        class="img-fluid"
                        alt="Responsive image"
                    />
                </div>
                <div class="col-12 col-lg-12"> 
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla architecto ea deserunt reprehenderit aliquid repudiandae deleniti inventore pariatur minima non perferendis at, libero, sit exercitationem esse ut, quis illum consectetur.
                    </p>
                </div>
            </div>
        </div> 
        <div class="col-12 col-lg-4 "> 
            <div class="row">
                <div class="col-12 col-lg-12 "> 
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla architecto ea deserunt reprehenderit aliquid repudiandae deleniti inventore pariatur minima non perferendis at, libero, sit exercitationem esse ut, quis illum consectetur.
                    </p>
                </div>
                <div class="col-12 col-lg-12 "> 
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla architecto ea deserunt reprehenderit aliquid repudiandae deleniti inventore pariatur minima non perferendis at, libero, sit exercitationem esse ut, quis illum consectetur.
                    </p>
                </div>
                <div class="col-12 col-lg-12 "> 
                    <img
                    src="/static/common/top2ww.jpg"
                    style="height: 100%"
                    class="img-fluid"
                    alt="Responsive image"
                />
                </div>
                <div class="col-12 col-lg-12 "> 
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla architecto ea deserunt reprehenderit aliquid repudiandae deleniti inventore pariatur minima non perferendis at, libero, sit exercitationem esse ut, quis illum consectetur.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 "> 
            <div class="row">
                <div class="col-12 col-lg-12 "> 
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla architecto ea deserunt reprehenderit aliquid repudiandae deleniti inventore pariatur minima non perferendis at, libero, sit exercitationem esse ut, quis illum consectetur.
                    </p>
                </div>
                <div class="col-12 col-lg-12 "> 
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla architecto ea deserunt reprehenderit aliquid repudiandae deleniti inventore pariatur minima non perferendis at, libero, sit exercitationem esse ut, quis illum consectetur.
                    </p>
                </div>
                <div class="col-12 col-lg-12 "> 
                    <img
                    src="/static/common/top3ww.jpg"
                    style="height: 100%"
                    class="img-fluid"
                    alt="Responsive image"
                />
                </div>
                <div class="col-12 col-lg-12 "> 
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla architecto ea deserunt reprehenderit aliquid repudiandae deleniti inventore pariatur minima non perferendis at, libero, sit exercitationem esse ut, quis illum consectetur.
                    </p>
                </div>
            </div>
        </div>
      </div>
</main>
<footer>
</footer>
{% endblock %}
