.row{
    margin: 0 0 0 0;
}

.fondo-colores{
    background: radial-gradient(90% 78.2% at 23.599999999999998% 14.2%, #c52eea 0%, hsl(247, 100%, 19%) 100%) !important;
}

.fondo-colores-redondo-a-la-derecha{
    background: radial-gradient(90% 78.2% at 23.599999999999998% 14.2%, #c52eea 0%, hsl(247, 100%, 19%) 100%) !important;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
}

#imagen-derecha-usuarios{
    height: 100%;
}
@media only screen and (max-width: 750px){
    #imagen-derecha-usuarios {
        display: none;
    }
}

.go-back-chevron-button{
    position: absolute;
    padding: 0;
    margin: 0;
}

#users-go-back {
    left: 40px;
    top: 42px;
    font-size: xx-large;

}

#left-chevron-container{
    position: relative;
    width: 100%;
    align-items: start;
    margin: 0 0 0 0;
}