{% extends "common/base.html" %}
{% load static %}

{% block  head_content %}
    <title>Home</title>
{% endblock %}
{% block content %}
    <div class="container-fluid" style="margin: 0px ; padding: 0px; height: 100vh
; background: radial-gradient(90% 78.2% at 50% 3.3000000000000003%, #c52eea 0%, hsl(247, 100%, 19%) 100%);">
        <div class="row" style="margin: 0px ; padding: 0px; height: 5%"></div>
        <div class="row text-center" style="margin: 0px ; padding: 0px; height: 65%">
            <div class="col-12" >
                <a href = "/">
                    <img src="{% static 'common/logos/1.png'%}" alt="..." width="350" class = "img-fluid  mx-auto"
                         style="vertical-align: middle">
                </a>
            </div>
        </div>
        <div class="row text-center" style="margin: 0px ; padding: 0px; height: 30%">
            {% block home_content %}{% endblock home_content %}
        </div>
    </div>
{% endblock %}
