{% extends "ProEs/home_base.html" %}
{% load static %}

{% block home_content %}
    <div class="column-12">

            <button type="button" class="btn btn-light btn-lg"
                    style="font-size: xx-large; margin: 4px; font-family: 'Inter', sans-serif">
                 <a href="users/login" style="text-decoration: none; color: blueviolet">
                <p1>
                    <b>Profesores</b>
                </p1>
                </a>
            </button>


            <button type="button" class="btn btn-light btn-lg"
                    style="font-size: xx-large; font-family: Helvetica; margin: 4px">
                <a href="/students" style="text-decoration: none; color: blueviolet">
                <p1>
                    <b>Estudiantes</b>
                </p1>
                </a>
            </button>

    </div>
{% endblock %}
