{% extends "ProEs/home_base.html" %}
{% load static %}

{% block home_content %}
    <div class="column-12">
        <button type="button" class="btn btn-light btn-lg" style="font-size: xx-large; color: #6600FF; font-family: 'Helvetica'; margin: 4px">
            <p1><b>Profesores</b></p1>
        </button>
        <button type="button" class="btn btn-light btn-lg" style="font-size: xx-large; color: #6600FF; font-family: Helvetica; margin: 4px">
            <p1><b>Estudiantes</b></p1>
        </button>
    </div>
{% endblock %}
