{% extends 'common/white_base.html' %}
{% load static %}

{% block head_content %}
    <title>ProEs | Consultar Notas </title>
{%endblock%}

{% block white_base %}
<div class="container-flex" style="margin: 0px; padding: 0px">
    <div class="row text-white" style="height: 12%; margin: 0px; align-items: center; padding: 0px; border-radius: 20px 20px 0px 0px; background: radial-gradient(90% 78.2% at 23.599999999999998% 14.2%, #c52eea 0%, hsl(247, 100%, 19%) 100%);">
        <div class="col-2">
        <a href="/">
            <img src="{% static "common/logos/2.1.png"%}" width="150" alt="Logo" class="image-fluid">
        </a>
        </div>
        <div class="col-10 fs-3 text-end">
            Cedula
        </div>
    </div>
    <div class="row mt-3">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            {%for materia in contexto%}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {{materia.asignatura.nombre}}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            {%for nota in materia.estudiantes.notas%}
                                <p>{{nota}}</p>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
