{% extends 'common/white_base.html' %}
{% load static %}

{% block white_base %}
    <div class="row" style="height: 12%; margin: 0px; padding: 0px; align-items: center; border-radius: 20px; background: radial-gradient(90% 78.2% at 23.599999999999998% 14.2%, #c52eea 0%, hsl(247, 100%, 19%) 100%);">
        <div class="col-2 ">
            <img src="{% static "common/logos/2.png"%}" width="100" alt="Logo" class="image-fluid">
        </div>
        <div class="col-8">8</div>
        <div class="col-2 text-white">Cedula</div>
    </div>

{% endblock %}
