{% extends "ProEs/home_base.html" %}
{% load static %}

{% block home_content %}
    <div class="col-4"></div>
    <div class="col-4">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" 
                        class="form-control" 
                        placeholder="Digita tu correo electrónico"
                        
                        name="email" 
                        autocomplete="email" 
                        maxlength="254" 
                        required="" 
                        id="id_email">
            </div>
            <div class="d-grid gap-2" style="border: none">
                <button class="btn btn-primary mt-4 botones" type="submit" style="border: none">Recuperar Contraseña</button>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
{% endblock %}