{% extends "ProEs/home_base.html" %}
{% load static %}

{% block home_content %}
    <div class="col-4"></div>
    <div class="col-4">
        <form>
            <div class="form-group">
                <input type="text" class="form-control form-users" id="Input_Teacher_ID" placeholder="Digita tu numero de identificación">
            </div>
            <div class="d-grid gap-2" style="border: none">
                <button class="btn btn-primary mt-4 botones" type="submit" style="border: none">Recuperar Contraseña</button>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
{% endblock %}