{% extends 'common/base.html' %}
{% load static %}

{% block head_content %}
    <title>ProEs | PDF </title>
    <style>
        table, td, tr{
            border: 1px solid black;
            padding: 5px;
            font-size: x-large;
        }
        th{
            text-align: initial;
            font-size: x-large;
            padding: 5px;
        }
    </style>
{%endblock%}

{% block content %}
    <div class="container " style="margin: 0">
        <div class="row">
            <center>
                <img src="{{icon}}" alt="Logo" width="250" class="mx-auto">
            </center>
        </div>
        <div class="row">
            <h1>Docente : {{docente}}</h1>
            <h1>Materia : {{contexto.asignatura.nombre}}</h1>
        </div>
        <div class="row">
         <table>
             <tr>
                <th>Estudiantes</th>
                {%for nombre_nota in contexto.tipo_notas%}
                    <th>{{nombre_nota}}</th>
                {%endfor%}
                 <th >Definitiva</th>
             </tr>
             {%for estudiante in contexto.estudiantes%}
                 <tr>
                    <td>{{estudiante.nombre}}</td>
                     {%for nota in estudiante.notas%}
                        <td>{{nota}}</td>
                     {%endfor%}

                     {%if estudiante.definitiva < contexto.asignatura.min%}
                        <td style="background-color: #f8f5d0; font-weight: bolder">{{estudiante.definitiva}}</td>
                     {%else%}
                        <td style="background-color: #f8f5d0; font-weight: bolder">{{estudiante.definitiva}}</td>
                     {%endif%}
                 </tr>
             {%endfor%}
            </table>
        </div>
    </div>

{% endblock %}
