<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/common/css/base.css">

    <title>User Card</title>
</head>
<body>

<img alt="user_card" class="rounded-circle" src="/static/common/lili.jpg"
     style="max-height: 100px; max-width: 100px; width: 100%; float: left; clear: both; display: inline"/>
<h5 style="float: left; clear: both; display: inline">Profe Lili</h5>
<a href="/" style="color: #504E4E; float: left; clear: both; display: inline">Cerrar sesión</a>
<br>

<div style="float: right">
    <div style="display: inline-block">
        <img alt="user_card" class="rounded-circle" src="/static/common/lili.jpg"
             style="max-height: 100px; max-width: 100px; width: 100%; float: left; clear: both; display: inline"/>
         <div style="display: inline-block">
             <h5 style="display: block">Profe Lili</h5>
             <a href="a" class="text-center" style="display: block">gasgd</a>
         </div>
    </div>

</div>


</body>
</html>