{% extends "common/white_base.html" %}
{% load static %}


{% block head_content %}
    <title>Users</title>
{% endblock %}





{% block white_base %}
    <div class="row">
        <div class="col-md-6">
            <div id="left-chevron-container">
                <a id ="back-link" href="#" onclick="history.go(-1)">
                    <?php $_SESSION('last_page') = request_uri(); ?>
                    <i class="bi bi-chevron-left go-back-chevron-button" id="users-go-back"></i>
                </a>
                <div id="{%block typeForm %} {% endblock %}">
                    <h1 id="form-title">{% block form_title %} {% endblock %}</h1>
                    {% block base_users %}{% endblock %}
                </div>

            </div>


        </div>
        <div class="col-6 d-none d-md-block fondo-colores-redondo-a-la-derecha" id="div_derecho_users">
            <!--style="height: 100%;-->
            <div class="row  justify-content-md-center" style="align-items: center; height: 100%; text-align: center">
                <img alt="ProEs Logo" src="{% static "common/logos/2.1.png" %}"
                     style=" width: 100%; max-width: 446px; max-height: 188px; height: 100%">
            </div>

        </div>
    </div>


{% endblock %}

<script>
    var element = document.getElementById('back-link');

// Provide a standard href to facilitate standard browser features such as
//  - Hover to see link
//  - Right click and copy link
//  - Right click and open in new tab
element.setAttribute('href', document.referrer);

// We can't let the browser use the above href for navigation. If it does,
// the browser will think that it is a regular link, and place the current
// page on the browser history, so that if the user clicks "back" again,
// it'll actually return to this page. We need to perform a native back to
// integrate properly into the browser's history behavior
element.onclick = function() {
  history.back();
  return false;
}
</script>