{% extends "common/white_base.html" %}
{% load static %}


{% block head_content %}
    <title>Users</title>
{% endblock %}

{% block white_base %}


    <div class="col col-6">
        <div id="left-chevron-container">
            <i class="bi bi-chevron-left go-back-chevron-button" id="users-go-back"></i>
            <h1 class="form-title">Registro de profes</h1>
        </div>



        {% block base_users %}{% endblock %}
    </div>
    <div class="col-6 d-none d-md-block fondo-colores-redondo-a-la-derecha" style="height: 100%;">
        <div class="row  justify-content-md-center" style="align-items: center; height: 100%; text-align: center">
            <img src="{% static "common/logos/2.1.png" %}"
                 style=" width: 100%; max-width: 446px; max-height: 188px; height: 100%">
        </div>

    </div>

{% endblock %}