<!--{% if messages %}-->
<!--    {% for message in messages %}-->
<!--        <div class="alert alert-{{message.tags}}" id = "msg" role="alert">-->
<!--            {{message}}-->
<!--        </div>-->
<!--    {% endfor %}-->
<!--{% endif %}-->


{% if messages %}
    {% for message in messages %}

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background: #bfeaa5">
                <h5 class="modal-title" id="exampleModalLabel">Mensaje:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  {{message}}
              </div>
            </div>
          </div>
        </div>

    {% endfor %}
    <script>
        $(function(){
            $("#exampleModal").modal('toggle');
        });
    </script>
{% endif %}


