{% extends 'common/white_base.html' %}
{% load static %}
{% block  head_content %}
<title>ProEs | Courses</title>
{% endblock %}
{% block white_base %}
<header style="padding: 20px">
    <div style="float: left; clear: both; text-align: center">
        <h1 id="form-title" style="margin: 18px">Bienvenido, estas son tus asignaturas</h1>
    </div>

    <div style="float: right; border-color: red; border-style: none; margin-right: 10px">
        <div style="display: inline-block;">
            <img alt="user_card" class="rounded-circle" src="/static/common/lili.jpg"
                 style="max-height: 100px; max-width: 100px; width: 100%; float: left; clear: both; display: inline"/>
            <div style="display: inline-block; max-width: 16em; padding-left: 5px; text-align: center; margin: auto;padding-top: 18px">
                <h3 style="font-family: 'Inter', sans-serif;display: block; max-width: 18em; word-wrap: break-word; margin: 0">
                    {{request.user.first_name}}</h3>
                <a href="{% url 'logout' %}"
                   style="display: block; float: right; text-align: center; font-family: 'Inter', sans-serif; color: #504E4E">Cerrar
                    sesión</a>
            </div>
        </div>

    </div>
</header>
<div></div>
<div class="linea" style="border-top: 1px solid black;
height: 2px;
max-width: 2000px;
padding: 0;
margin: 20px auto 0 auto;"></div>
<div class="row">
    {%for materia in contexto%}
    <!--                Empieza la carta-->
    <div class="col-6 col-md-3">

        <div class="card border-success mb-3 border-color"
             style="max-width: 18rem; border-radius: 21px; border-color: black;">
            <div class="card-header border-success"
                 style="border-radius: 21px 21px 0px 0px;; background-color: #5112d9; overflow: visible ;color: #ffffff; font-family: sans-serif;">
                <div class="row">
                    <div class="col col-lg-3">
                        <a href="{% url 'reports' username=request.user.first_name id=materia.id%}" target="_blank">
                            <h3 style="color: white">
                                <i class="bi bi-file-pdf"></i>
                            </h3>
                        </a>
                    </div>
                    <div class="col-lg-7">
                        <a href="{% url 'spreadsheet' materia.id%}">
                            <button type="button"
                                    style="background-color: #5112d9;border: none">
                                <h6 style="color: white; font-family: 'Inter', sans-serif">
                                    {{materia.asignatura.nombre}}</h6>
                            </button>
                        </a>
                    </div>
                    <div class="col-12 col-lg-2">
                        <a data-bs-toggle="modal" data-bs-target="#d{{materia.id}}" class="btn"
                           style="background-color: #5112d9; border-color: #5112d9; color: white;">
                            <i class="bi bi-three-dots-vertical"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body text-success">
                <div class="d-grid gap-2">
                    <a href="{% url 'topbest' materia.id%}">
                        <button type="button" class="btn btn-dark">Generar top 3 mejores estudiantes</button>
                    </a>
                    <a href="{% url 'topworst' materia.id%}">
                        <button type="button" class="btn btn-dark">Generar top 3 peores estudiantes</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="d{{materia.id}}" tabindex="-1" aria-labelledby="modificarasignatura"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label" style="font-family: 'Inter', sans-serif">Nombre
                                asignatura: {{materia.asignatura.nombre}}</label>
                            <input type="text" class="form-control" id="recipient-name" placeholder="Nombre asignatura" name="nuevo_nombre">
                            <input type="text" class="form-control" name="id_materia" value="{{materia.id}}" style="display: none;">
                        </div>
                        <div class="modal-footer">

                            <div class="d-grid gap-2 col-6 mx-auto">
                                 <a href="{% url 'delete_course' id=materia.id%}" class="btn btn-dark">Eliminar</a>
                                <input type="submit" class="btn btn-primary" value="Guardar"></input>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {%endfor%}

</div>
<div class="container" style="padding: 20px">
    <div class="col-12 col-lg-1 d-flex justify-content-end">
        <div class="row justify-content-center align-items-center">
            <a href="/courses/newcourse">
                <button type="button"
                        class="btn btn-primary btn-circle btn-xl justify-content-center align-items-center"
                        style="border-radius: 35px; width: 70px; height: 70px;background-color: #5112d9; border-color: #5112d9;">
                    <h2 class="align-middle justify-content-center align-items-center"><i class="bi bi-plus-lg"></i>
                    </h2>
                </button>
            </a>
        </div>
    </div>
</div>
    {% endblock %}