{% extends 'common/white_base.html' %}
{% load static %}

{% block  head_content %}
    <title>ProEs | Notas</title>
{% endblock %}

{% block white_base %}
<div class="container-flex" style="margin: 0px; padding: 0px">

    <div class="row text-black" style="height: 12%; margin: 10px; align-items: center; padding: 0px; border-radius: 20px 20px 0px 0px; background: #ffffff, #c52eea 0%, hsl(247, 100%, 19%) 100%);">
        <div class="col">
            <h1 class="title">Nombre Asignatura</h1>
        </div>
        <!--        <div class="col-8"></div>-->
        <div class="col text-end">
            Cédula
        </div>
    </div>

    <div class="overflow-auto">
        <div class="row">
        <div class="col" style="margin: 10px; width: 80%">
        <table id="tblDatos" border="1">
            <tr>
                <th>

                </th>
                <th>
                    Nota 1
                </th>
                <th>
                    Definitiva
                </th>
            </tr>
            <tr>
                <th>
                    Nombre de Estudiante
                </th>
                <th>
                    100%
                </th>

            </tr>
            <tr>
                <td><div contenteditable><input placeholder="Estudiante"></div></td>
                <td><div contenteditable><input placeholder="Nota"></div></td>
                <td><div contenteditable><input placeholder="Definitiva"></div></td>
            </tr>


        </table>

        <script>
            function insertarEstudiante() {
                var table = document.getElementById('tblDatos').insertRow(-1);

                var col1 = table.insertCell(0);
                col1.innerHTML = '<div contenteditable><input placeholder="Estudiante"></div>';

                var cols = document.getElementById('tblDatos').rows[2].cells.length;

                for (var i = 0; i < cols-2; i++)
                {
                    let coln = table.insertCell(1);
                    coln.innerHTML = '<div contenteditable><input placeholder="Nota"></div>';
                }

                var col3 = table.insertCell(-1);
                col3.innerHTML = '<div contenteditable><input placeholder="Definitiva"></div>';
            }

            function insertarNota() {
                var table = document.getElementById ('tblDatos');

                var rows = table.rows.length;
                var cols = document.getElementById('tblDatos').rows[2].cells.length;

                var firstRow = table.rows[0];
                var SecRow = table.rows[1];

                var cell1 = firstRow.insertCell (cols-1);
                var cell2 = SecRow.insertCell (cols-1);

                for (var i = 0; i < rows-2; i++)
                {
                    cell1.innerHTML = 'Nota x';
                    cell2.innerHTML = '50%';

                    var LstRow = table.rows[i+2];

                    var celln = LstRow.insertCell (cols-1);

                    const nota = "Nota" + i;

                    celln.innerHTML = '<div contenteditable><input placeholder=Nota></div>';

                }
            }
        </script>
        </div>
        <div class="col text-end" style="margin: 10px; width: 100%">
            <input type="button" class="btn-primary botones" onclick="insertarNota()" value="Nueva Nota" style="margin: 20px">
        </div>
    </div>

    </div>



    <input type="button" class="btn-primary botones" onclick="insertarEstudiante()" value="Nuevo Estudiante" style="margin: 20px">


    </div>
{% endblock %}
