{% extends "common/base_users.html" %}
{% load static %}

{% block  head_content %}
    <title>ProEs | Login</title>
{% endblock %}

{% block form_title %}Ingreso de profes{% endblock %}

{% block base_users %}
    <form>
        <div class="form-group text-start" style="">

            <input type="text" class="form-control form-users" id="input_dni" aria-describedby="dni_help"
                   placeholder="Documento de Identidad" pattern="^[\d]+$"
                   onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="margin-top: 50px">

            <input type="password" class="form-control form-users" id="teacher_password" aria-describedby="dni_help"
                   placeholder="Contraseña" name="xd">
            <input type="button" class="btn-primary botones" value="Ingresar">
            <div class="text-center" style="margin-top: 15px">
                <a href="" class="users-redirect-link">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="text-center">
                <a href="" class="users-redirect-link">¿Es tu primera vez en ProEs? Registrate</a>
            </div>


        </div>
    </form>

    {#    <form method="POST" action="{% url "users:loginView" %}">#}

    {#    <form method="POST">#}
    {#        {% csrf_token %}#}
    {#        <div class="form-group">#}
    {#            <input class="form-control" type="text" placeholder="Username" name="username" />#}
    {#        </div>#}
    {##}
    {#        <div class="form-group">#}
    {#            <input class="form-control" type="password" placeholder="Password" name="password" />#}
    {#        </div>#}
    {##}
    {##}
    {#        <button class="btn btn-primary btn-block mt-5" type="submit">Sign in!</button>#}
    {#    </form>#}
    {#    <p class="mt-4">Don't have an account yet? <a href="{% url "users:signup" %}">Sign up here.</a></p>#}
    {#    <p class="mt-4">Don't have an account yet? <a href="">Sign up here.</a></p>#}
    {#    <div class="container-fluid text-center" style="height: 100vh; margin: 0; padding: 3%; background: #ccc7c7">#}
    {#        <div class="row" style="height: 100%; border-radius: 20px; background: white">#}
    {#            <div class="col col-12 col-md-6 mt-1">#}
    {#                <img#}
    {#                        src="/static/common/logos/1.png"#}
    {#                        style="height: 30%"#}
    {#                        class="img-fluid"#}
    {#                        alt="Responsive image"#}
    {#                />#}
    {#                <h2 class="default-title h1 pt-3">Iniciar Sesión</h2>#}
    {#                <form  class="p-3 col-4">#}
    {#                    <div class="form-group">#}
    {#                        <input#}
    {#                                class="form-control"#}
    {#                                placeholder="Correo Electrónico"#}
    {#                                type="email"#}
    {#                                v-model="user.username"#}
    {#                        />#}
    {#                    </div>#}
    {#                    <div class="form-group">#}
    {#                        <input#}
    {#                                class="form-control"#}
    {#                                type="password"#}
    {#                                v-model="user.password"#}
    {#                                placeholder="Contraseña"#}
    {#                        />#}
    {#                    </div>#}
    {#                    <button type="submit" class="btn btn-primary">Ingresar</button>#}
    {#                </form>#}
    {#                <router-link to="recuperarContrasena" class="link-primary">#}
    {#                    Olvidaste tu contraseña?#}
    {#                </router-link>#}
    {#            </div>#}
    {#            <div class="col-4 col-md-6 d-none d-md-block" style="background: radial-gradient(90% 78.2% at 23.599999999999998% 14.2%, #c52eea 0%, hsl(247, 100%, 19%) 100%); padding: 0; margin: 0; border-bottom-right-radius: 20px; border-top-right-radius: 20px">#}
    {##}
    {#                            <img#}
    {#                                    src="{% static "common/logos/2.1.png"%}"#}
    {#                                    style=""#}
    {#                                    class="img-fluid align-middle"#}
    {#                                    alt="Responsive image"#}
    {#                            />#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}

{#<script>#}
{#    function setInputFilter(textbox, inputFilter) {#}
{#  ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {#}
{#    textbox.addEventListener(event, function() {#}
{#      if (inputFilter(this.value)) {#}
{#        this.oldValue = this.value;#}
{#        this.oldSelectionStart = this.selectionStart;#}
{#        this.oldSelectionEnd = this.selectionEnd;#}
{#      } else if (this.hasOwnProperty("oldValue")) {#}
{#        this.value = this.oldValue;#}
{#        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);#}
{#      } else {#}
{#        this.value = "";#}
{#      }#}
{#    });#}
{#  });#}
{#}#}
{##}
{#setInputFilter(document.getElementById("input_dni"), ){#}
{##}
{#    }#}
{#</script>#}

