{% extends "common/base_users.html" %}

{% load static %}


{% block head_content %}
    <title>ProEs | Signup</title>
{% endblock %}
{% block form_title %} Registro de Profes {% endblock %}

{% block typeForm %}form-content-signUp{% endblock %}

{% block base_users %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group text-start" style="margin-top: 10px !important;">

            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="inline-group row" style="margin-top: 50px ">
                <div class="col-6" style="padding: 3px; margin: 0 0 0 0">

                    <input  type="text"
                            class="form-control form-users"
                            aria-describedby="dni_help"
                            placeholder="Nombres"
                            style=" margin: 0 0 0 0"

                            name="first_name"
                            maxlength="30"
                            id="id_first_name">
                </div>
                <div class="col-6" style="padding: 3px; margin: 0 0 0 0">
                    <input type="text"
                           class="form-control form-users"
                           aria-describedby="dni_help"
                           placeholder="Apellidos"
                           style=" margin: 0 0 0 0"

                           name="last_name"
                           maxlength="150"
                           id="id_last_name">
                </div>
            </div>

            <input type="text"
                    class="form-control form-users"
                    aria-describedby="dni_help"
                    placeholder="Documento de Identidad"
                    pattern="^[\d]+$"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'

                    name="username"
                    maxlength="150"
                    autofocus=""
                    required=""
                    id="id_username">
             <input type="email"
                    class="form-control form-users"
                    aria-describedby="dni_help"
                    placeholder="Correo electrónico"

                    name="email"
                    maxlength="254"
                    id="id_email">
             <input type="password"
                    class="form-control form-users"
                    id="teacher_password"
                    aria-describedby="dni_help"
                    placeholder="Contraseña"

                    name="password1"
                    autocomplete="new-password"
                    required=""
                    id="id_password1">
             <input type="password"
                    class="form-control form-users"
                    aria-describedby="dni_help"
                    placeholder="Verificar contraseña"

                    name="password2"
                    autocomplete="new-password"
                    required=""
                    id="id_password2">

        <input type="submit" class="btn-primary botones" value="Registro e ingreso">
        </div>
    </form>

{% endblock %}